* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

#cityBoxSearch{
    /* display: none; */
    border: 1px solid black;
    width: 50%;
}
.autoComplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  border: 1px solid blue;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autoComplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autoComplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autoComplete-list {
  position:absolute;
  width: 215px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4
}

.autoComplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.buttonContainerRight {
  margin-right: 10px;
}
.scoreContainer{
  display: flex;
  height: 1.6rem;
  align-items: center;
  justify-content: space-between;
}

.scoreLabel{
margin-left: 9rem;
}

.scores{
margin-right: 10rem;
}
.navButtons {
  margin-left: 10px;
}

.navbar {
  background-color: lavender;
  height: 2.5rem;
}

li {
  list-style: none;
}

li:hover {
  background-color: #e9e9e9;
}

#dataState {
    border: 1px solid black;
    max-height: 1000px;
}

#card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cityHeader {
  font-size: 1.6rem;
  margin-bottom: 0px;
}

.mainPageContainer {
  display: flex;
  justify-content: center;
}