* { box-sizing: border-box; }
body {
  font: 16px Arial;
  
  background-color: rgb(210, 189, 210);
}
.container{
  border: 1px dashed #edb0c5;
  margin: 10px;
  width: 30rem;
}

#cityBoxSearch{
    /* display: none; */
    /*border: 1px solid black;*/
    width: 50%;
    margin-left: 10px;
}
.autoComplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  /* border: 1px solid blue; */
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.inputs{
  margin-bottom: 15px;
}
/* input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
} */
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.inputText{
  width: 15rem;
}
#submitBtn{
  /* display:flex;
  align-items:center;
  justify-content: center; */
  height: 40px;
  color: #fff;
  padding: 5px 20px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold; 
  font-size: 20px;
  margin-top: 5px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-left: 20px
}

#submitBtn:hover{
  background-color: #FF0054;
  transition: 0.3s;
}

.inputs{
  display:flex;
  align-items:center;
}
.autoComplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autoComplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autoComplete-list {
  position:absolute;
  width: 215px;
  cursor: pointer;
  background-color: #fff;
  /* border-bottom: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4 */
}

.autoComplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.buttonContainerRight {
  margin-right: 10px;
}
.scoreContainer{
  display: flex;
  height: 1.6rem;
  align-items: center;
  justify-content: space-between;
}

.scoreLabel{
margin-left: 9rem;
}

.scores{
margin-right: 10rem;
}
.navButtons {
  margin-left: 10px;
}

.navbar {
  background-color: rgb(245, 183, 183);
  height: 2.5rem;
}

.navButtons {
  margin-left: 10px;
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.navButtons:hover {
  background-color: #FF0054;
  transition: 0.3s;
}

.navbar {
  background-color: lavender;
  height: 4.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navBarWelcome {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3rem;
}

li {
  list-style: none;
}

li:hover {
  background-color: #e9e9e9;
}

#card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cityHeader {
  font-size: 1.6rem;
  margin-bottom: 0px;
  margin-top: 25px;
}

.mainPageContainer {
  display: flex;
  justify-content: center;
}

.headingWStar {
  display: flex;
  position: relative;
  height: 3rem;
  margin-bottom: 0px;
  align-items: center;
}

.star {
  position: absolute;
  cursor: pointer;
  /* color: #e4e5e9; */
  transition-property: color;
  transition-duration: 0.5s;
}

